<ion-header>
  <ion-navbar>
    <ion-title>
      TODO APP
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos; let i = index">
      <ion-item>
        <ion-checkbox checked [(ngModel)]="todo.hecho" (ngModelChange)="save(todo)"></ion-checkbox>
        <ion-label>{{todo.nombre}}</ion-label>
        <ion-label>{{todo.fecha}}</ion-label>
      </ion-item>
      <ion-item-options>
        <button ion-button icon-only color="primary" (click)="update(todo, i)">
          <ion-icon name="sync"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="delete(todo, i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>